<h1> <%= @facade.vendor.name %> </h1>

<section id="contact-info">
  <h3> Contact Information: </h3>
  <ul>
    <li> Name: <%= @facade.vendor.contact_name %> </li>
    <li> Phone: <%= @facade.vendor.contact_phone %> </li>
  </ul>
</section>

<p> Credit Accepted: <%= @facade.vendor.credit_accepted %> </p>
<p> Description: <%= @facade.vendor.description %> </p>
